[Unit]
Description=consul agent
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
{% if consul.server | default(false) %}
ExecStart=//usr/local/bin/consul agent -server -data-dir=/tmp/consul -bind={{eth1.ipv4.address}} -bootstrap-expect=1 -bootstrap
{% else %}
ExecStart=//usr/local/bin/consul agent -data-dir=/tmp/consul -bind={{eth1.ipv4.address}} -join={{server_ip}}
{% endif %}
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target